## Hello World

In [1]:
print('Python is easy!')

Python is easy!

## Comments and Documentation

In [2]:
# This is just a comment ant it will be ignored
# If I want to make a multiline comment, than I just have to put '#' symbol on each new line  

2 + 3

5

In [3]:
'''To document the code - a triple quotes either single or double are used 
Moreover, such documentation may reside in multiple lines'''

'To document the code - a triple quotes either single or double are used \nMoreover, such documentation may reside in multiple lines'

In [4]:
"""Double-quoted comment"""

'Double-quoted comment'

## Assignments

In [5]:
# Single
a = 1
print(a)

# Multiple
a, b, c = 1, 2, 3
print(a, b, c)

a, b, c = ('a', 6, 0x0001)
print(a, b, c)

1
1 2 3
a 6 1

## Variable Types

### Strings

In [6]:
s = "Some text"
print(type(s))

text = 'Text in single quotes'
print(text)

text = "The same but in doubles"
print(text)

<class 'str'>
Text in single quotes
The same but in doubles

In [7]:
"This" " will" " be" ' a' ' string as well'

'This will be a string as well'

In [8]:
text = "Hello, {name} {lastname}".format(lastname='Superhero', name='Sergii')
print(text)

Hello, Sergii Superhero

In [9]:
multi_line="""A multi-line string 
is defined in a few lines. 
Very useful!"""

print(multi_line)

print("An arbitrary fragmant: \"{fragment}\"".format(fragment=multi_line[2:5]))

A multi-line string
is defined in a few lines.
Very useful!
An arbitrary fragmant: "mul"

In [10]:
print(len(multi_line))

61

In [4]:
string_math = ('a' 'b' 'c')*3

print(string_math)

abcabcabc

In [7]:
text = 'Some text'

if 'Some' in text:
    print(True)

True

200

### Strings Slicing

In [12]:
'abcdefgh'[0]

'a'

In [13]:
'abcdefgh'[-1]

'h'

In [14]:
'abcdefgh'[:]

'abcdefgh'

In [15]:
'abcdefgh'[0:5]
# See? There is no

'abcde'

In [16]:
text = "Let the force will be with you"
print(text[len(text) - 8:], text[:len(text) - 8])

with you Let the force will be

In [17]:
text = "Let the force will be with you"
print(text[0:len(text):1])
print(text[::2])
print(text[::-1])
print(text[::-2])

Let the force will be with you
Lttefrewl ewt o
uoy htiw eb lliw ecrof eht teL
uyhi bli co h e

### Useful Functions

In [18]:
text = "THIS string {}CONTAINS upper CASE letters AND some LOWER case AS well"
print(text.format('do ' if text.isupper() else 'not only ').upper())
print(text.format('do ' if text.islower() else 'not only ').lower())

THIS STRING NOT ONLY CONTAINS UPPER CASE LETTERS AND SOME LOWER CASE AS WELL
this string not only contains upper case letters and some lower case as well

In [19]:
text = " \t Text with a few spaces before and after  \t  "

print("Rmove all leading and trainling spaces: {}", text.strip())
print("Rmove only leading spaces: {}", text.lstrip())
print("Rmove only trainling spaces: {}", text.rstrip())

Rmove all leading and trainling spaces: {} Text with a few spaces before and after
Rmove only leading spaces: {} Text with a few spaces before and after
Rmove only trainling spaces: {}  	 Text with a few spaces before and after

In [20]:
text = "One two three four five"
print(text.find('two'))
print(text.find('six'))
print("Can't find 'six' in the string: {can}".format(can=text.find('six') == -1))

print(text.lower().find('one', 0, 10))

4
-1
Can't find 'six' in the string: True
0

In [21]:
text = "One two three four five"
text.count('e')

text.replace('two', 'minus two')

'One minus two three four five'

### Other Simple Types

In [22]:
a = 10
type(a)

int

In [23]:
f = 10.23
type(f)

float

In [24]:
c = chr(112)
print(type(c))

<class 'str'>

In [25]:
n = None
type(n)

NoneType

In [26]:
c = 3 - 2j
print(type(c), c)

<class 'complex'> (3-2j)

In [27]:
b1 = 0b00111
print(type(b1), b1)

b2 = 0b00101

print(b1 & b2)

<class 'int'> 7
5

In [28]:
f = 0xFFFFFF
print(type(f), f)

<class 'int'> 16777215

In [29]:
b = True
print(type(b), b)

<class 'bool'> True

In [30]:
f = 1.1
i = int(f)

print(i)

f = 1.99
i = int(f)

print(i)

1
1

But there is some **conversion threshold**

In [31]:
f = 1.9999999999999999
i = int(f)

print(i)

2

In [32]:
s = '123'
n = int(s)
print(n)

s = '123.456'
n = float(s)
print(n)

123
123.456

In [33]:
b = bool(1)
print(b)

True

In [34]:
i = 100
f = float(i)

print(type(f), f)

<class 'float'> 100.0

## List Type

In [35]:
l = []
type(l)

list

In [36]:
list = [1, 2.5, 'a', True]
print(list)

[1, 2.5, 'a', True]

In [37]:
len(list)

4

In [38]:
list[0:3]

[1, 2.5, 'a']

In [39]:
list[:2]*2

[1, 2.5, 1, 2.5]

In [40]:
list[:2] + [2, 2]

[1, 2.5, 2, 2]

In [41]:
lst = []

lst.append('new value')
lst.append('other new value')
lst.append('third value')
print(lst)

lst.remove('third value')
print(lst)

del(lst[0])
print(lst)

['new value', 'other new value', 'third value']
['new value', 'other new value']
['other new value']

In [42]:
lst = []

lst.insert(0, 'new value')
lst.insert(0, 'other new value')
print(lst)

['other new value', 'new value']

In [43]:
lst = [x for x in range(1, 11)]

lst.sort(reverse=True)
print(lst)

lst.sort(key=lambda x: -1 if x < 5 else 1 if x > 5 else 0)
print(lst)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[4, 3, 2, 1, 5, 10, 9, 8, 7, 6]

In [44]:
lst = [x for x in range(1, 11)]

print(max(lst))
print(min(lst))

10
1

## Tuples

In [45]:
t = ()
print(type(t))

t = (1, 2, 'a')
print(type(t), t)

t = (1)
print(type(t), t)

<class 'tuple'>
<class 'tuple'> (1, 2, 'a')
<class 'int'> 1

In [46]:
t = (1, 2, 'a', 2.5)

print(t[2])
print(t[2:4])
print(t.count('a'))
print(len(t))

a
('a', 2.5)
1
4

In [47]:
lst = [x for x in range(1, 11)]
print(type(lst), lst)

tpl = tuple(lst)
print(type(tpl), tpl)

<class 'list'> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'tuple'> (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

## Sets

In [48]:
s = {}
type(s)

dict

In [49]:
s = {1, 1, 1, 3, 'a'}
print(type(s), s)

try:
    print(s[0])
except TypeError as error:
    print("Can not perform the operation: {}".format(error))
    
try:
    print(s + {'000'})
except TypeError as error:
    print("Can not perform the operation: {}".format(error))

<class 'set'> {1, 3, 'a'}
Can not perform the operation: 'set' object does not support indexing
Can not perform the operation: unsupported operand type(s) for +: 'set' and 'set'

In [50]:
s = {1, 1, 1, 3, 'a'}
print(s)

s.update([0, 'b'])
print(s)

s.remove('b')
print(s)

{1, 3, 'a'}
{0, 1, 'b', 3, 'a'}
{0, 1, 3, 'a'}

In [51]:
s = {1, 1, 1, 3, 'a'}

fs=frozenset(s)

try:
    fs.remove('1')
except AttributeError as error:
    print("Can not perform the operation: {}".format(error))

Can not perform the operation: 'frozenset' object has no attribute 'remove'

## Ranges

In [52]:
r=range(5)
print(type(r), r)

r=range(5, 20)
print(r)

values = [x for x in range(1, 20, 3)]
print(values)

<class 'range'> range(0, 5)
range(5, 20)
[1, 4, 7, 10, 13, 16, 19]

## Bytes

In [53]:
lst=[1, 10, 100, 255]
print(type(lst))

bts=bytes(lst)
print(type(bts), bts)

<class 'list'>
<class 'bytes'> b'\x01\nd\xff'

In [54]:
bts=bytes([1, 10, 100, 255])

print(bts[1])
print(bts[:3])

try:
    bts[1]=5
except TypeError as error:
    print("Can not perform operation: {}".format(error))

10
b'\x01\nd'
Can not perform operation: 'bytes' object does not support item assignment

In [55]:
bts=bytearray([1, 10, 100, 255])
print(type(bts), bts)

print(bts[2])

bts[2] = 101
print(bts[2])

<class 'bytearray'> bytearray(b'\x01\nd\xff')
100
101

In [56]:
bts=bytearray([1, 10, 100, 255])

for b in bts:
    print(b)

1
10
100
255

## Dictionaries

In [57]:
dct={}
print(type(dct), dct)

dct={'Name':'Sergii', 1:'000-00-01', 2:'000-00-02'}
print(dct)

print("Keys: {}\nValues: {}".format(dct.keys(), dct.values()))

print(dct[1])
print(dct['Name'])

<class 'dict'> {}
{'Name': 'Sergii', 1: '000-00-01', 2: '000-00-02'}
Keys: dict_keys(['Name', 1, 2])
Values: dict_values(['Sergii', '000-00-01', '000-00-02'])
000-00-01
Sergii

In [58]:
dct={'Name':'Sergii', 1:'000-00-01', 2:'000-00-02'}
print(dct)

del(dct[1])
print(dct)

{'Name': 'Sergii', 1: '000-00-01', 2: '000-00-02'}
{'Name': 'Sergii', 2: '000-00-02'}

True

$y = 2 x^{2} + 3 x + 6$

In [59]:
## f = Limit((sin(x)**2 + cos(2*x))/(2*x**2 + 3*x + 6), x, -oo)
## latex(f)

$\lim_{x \to -\infty}\left(\frac{\sin^{2}{\left (x \right )} + \cos{\left (2 x \right )}}{2 x^{2} + 3 x + 6}\right)$