# if ... elif ... else ...

In [11]:
import random as r

def analyze(rnd):
    
    ev = 'even' if rnd % 2 == 0 else 'odd'
    
    if rnd == 0:
        print("Value is 0")
    elif rnd <= 25:
        print("%s is in the first quarter, and %s" % (rnd, ev))
    elif rnd <= 50:
        print("%s is in the second quarter, and %s" % (rnd, ev))
    elif rnd <= 75:
        print("%s is in the third quarter, and %s" % (rnd, ev))
    else:
        print("%s is in the forth quarter, and %s" % (rnd, ev))
    
analyze(0)

for i in range(1, 11):
    analyze(r.randint(a=0, b=100))

Value is 0
32 is in the second quarter, and even
76 is in the forth quarter, and even
68 is in the third quarter, and even
10 is in the first quarter, and even
64 is in the third quarter, and even
21 is in the first quarter, and odd
50 is in the second quarter, and even
77 is in the forth quarter, and odd
3 is in the first quarter, and odd
36 is in the second quarter, and even

# while ...

In [15]:
x = 1

while x < 6:
    print(x)
    x+=1

1
2
3
4
5

# for ... in ...

In [18]:
product = 1
for i in range(1, 11):
    product *= i
    
print(product)

3628800

In [19]:
s = {"a", "b", "c"}

for c in s:
    print(c)

a
b
c

In [20]:
t = (1, 2, 'three', 4.0, )

for x in t:
    print(x)

1
2
three
4.0

In [22]:
text = "a text"

for c in text:
    print(c)

a

t
e
x
t

In [27]:
m = {1: 'a', 2: 'b', 'c': 3, text: t}

for k, v in m.items():
    print(k, v)

1 a
2 b
c 3
a text (1, 2, 'three', 4.0)

## break an continue

In [28]:
for i in range(1, 21):
    if i % 3 == 0:
        continue
    else:
        print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

In [29]:
lst = [1, 2, 5, 8, 2, 3, 11]

for i in lst:
    if i == 3:
        break
    print(i)

1
2
5
8
2

# assert

In [4]:
inp = input("Please enter a number from 1 to 9: ")
num = int(inp)

valid_input = True 

try:
    assert num <= 0 and num >= 10, "The value is out of the range."
except AssertionError as err:
    print(err, "Can not operate with this value")
    valid_input = False

if valid_input: 
    fmt = "%s * %2s = %" + str(len(inp) + 1) + "s"

    for i in range(1, 11):
        print(fmt % (num, i, num * i))

Please enter a number from 1 to 9: 23
The value is out of the range. Can not operate with this value

In [5]:
# ASSIGNMENT

inp = int(input("Enter a number please: "))
# Output: Enter a number please: 112

numbers = []

for i in range(0, inp+1):
    if i > 100:
        break

    if i % 10 == 0:
        continue

    numbers.append(i)


print(numbers)

# Output: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 
# 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 
# 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 
# 91, 92, 93, 94, 95, 96, 97, 98, 99]

Enter a number please: 112
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99]